.fs-footer {
  width: 100%;
  background-color: var(--tmdbDarkBlue);

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 0px;
  }

  &__left {
    display: flex;
    flex-direction: column;

    img {
      display: none;
    }

    button {
      border-radius: 8px;
      background-color: var(--tmdbLight);
      padding: 8px 16px;
      color: var(--tmdbLightBlue);
      font-weight: 700;
      font-size: 19px;
      margin: 0 20px;
    }
  }

  &__right > nav {
    margin: 40px 0 0 20px;
    width: fit-content;
    flex-direction: column;
  }

  footer {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    opacity: 0.1;
    font-size: 0.7em;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: 768px) {
    &__content {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: var(--width-page);
    }

    &__left {
      align-items: flex-end;

      img {
        display: block;
        width: 130px;
        height: 94px;
        margin-bottom: 30px;
      }

      button {
        margin: 0;
      }
    }

    &__right > nav {
      display: flex;
      margin: 30px 0 0 40px;
    }

    footer {
      padding-bottom: 0;
    }
  }

  @media (min-width: 1200px) {
    &__right {
      display: flex;

      nav {
        margin: 40px 0 0 20px;
      }
    }
  }
}
