.text {
  &--legend {
    font-size: 14.4px;
    color: var(--tmdbDark);
  }

  &--tagline {
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
  }

  &--subtitle {
    color: var(--tmdbDark);
    font-weight: 700;
    margin-top: 20px;
  }
}
