.fs-cast {
  width: 100%;

  div {
    max-width: 1300px;
    margin: 0 auto 20px;
    width: 100%;
    padding: 20px 40px;
  }

  ul {
    max-width: 1300px;
    margin: 20px auto 0;
    display: flex;

    overflow-x: auto;

    li {
      position: relative;
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }

      img {
        box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
        border-radius: 8px;
        min-width: 150px;
        min-height: 225px;
        width: 150px;
        height: 225px;
        background: #dbdbdb;
        overflow: hidden;
      }

      a {
        font-weight: 700;

        &:hover {
          color: var(--tmdbLightBlue);
        }
      }

      a,
      p {
        color: var(--tmdbDark);
      }
    }
  }

  &__not-post {
    min-width: 150px;
    min-height: 225px;
    background-color: var(--lightGrey);
    border-radius: 8px;
  }
}
