<section>
  <fs-banner></fs-banner>

  <fs-title [title]="galleryEnum.MOST_POPULAR"></fs-title>
  <fs-gallery [content]="galleryMostPopular"></fs-gallery>

  <fs-title [title]="galleryEnum.FREE"></fs-title>
  <fs-gallery [content]="galleryFree"></fs-gallery>

  <fs-title [title]="galleryEnum.TRAILERS"></fs-title>
  <fs-gallery [content]="galleryTrailers"></fs-gallery>

  <fs-title [title]="galleryEnum.TENDENCIES"></fs-title>
  <fs-gallery [content]="galleryTendencies"></fs-gallery>

  <fs-leaders></fs-leaders>
</section>
