.fs-person {
  margin-top: var(--height-header);

  * {
    color: var(--tmdbDark);
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: var(--width-page);
    padding: 0 20px;
    margin: 30px auto;
  }

  &__left {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      max-width: 150px;
      margin: 0 auto;
      border-radius: 8px;
    }
  }

  &__right {
    width: 100%;
    padding-left: 30px;
    margin-top: 40px;

    h1 {
      display: none;
    }

    ul {
      max-width: var(--width-page);
      margin: 20px auto 0;
      display: flex;
      overflow-x: auto;

      li {
        position: relative;
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        img {
          box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
          border-radius: 8px;
          min-width: 150px;
          min-height: 225px;
          width: 150px;
          height: 225px;
          background: #dbdbdb;
          overflow: hidden;
        }

        a {
          font-weight: 700;

          &:hover {
            color: var(--tmdbLightBlue);
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    &__content {
      flex-direction: row;
    }

    &__left {
      text-align: left;
      width: 300px;

      h1 {
        display: none;
      }

      img {
        margin: 0 0 20px;
        border-radius: 8px;
      }
    }

    &__right {
      width: calc(100% - 300px);
      margin: 0;

      h1 {
        display: block;
      }
    }
  }

  @media (min-width: 1350px) {
    &__content {
      padding: 0;
    }
  }

  &__not-post {
    width: 150px;
    height: 225px;
    background-color: var(--lightGrey);
    border-radius: 8px;
  }
}
